/* Declaring custom fonts */
@font-face {
    font-family: 'ailerons';
    src:url('../fonts/Ailerons.ttf');
}
@font-face {
  font-family: 'Lato';
  src:  url('../fonts/Lato-Regular.ttf');
}
@font-face {
	font-family: 'Dense';
	src: url('../fonts/Dense-Regular.otf');
}
@font-face {
	font-family: 'SourceCode';
	src: url('../fonts/FiraSans-Thin.otf');
}
@font-face {
	font-family: 'Fira';
	src: url('../fonts/FiraSans-UltraLight.otf');
}

body {
	background-color: #000000;
} 
h2 {
	text-align: left;
	font-family: Ailerons;
	color: #606060;
}
.container {
	border: 3px solid #000000;
	margin: auto;
	border-radius: 25px 25px 25px 25px;
}
.container2 {
	background-color: #222222;
	/*position: relative;*/
	border: 3px solid #d3d3d3;
	/*margin: auto;*/
	border-radius: 25px 25px 25px 25px;
}
.container3 {
	background-color: #333333;
	/*position: relative;*/
	height: 450px;
	/*padding: 5px;*/
	margin: auto;
	border-radius: 25px 25px 25px 25px;
}
.col-xs-2 {
	background-color: #444444 !important;
	height: 100%;
	border-radius: 25px 0px 0px 25px;
	/*MOVE TO NAMESDIV AND UNLOGGEDDIV */font-family: Dense;
}
.col-xs-10 {
	background-color: #55555;
	height: 450px;
	border-radius: 0px 25px 25px 0px;
}
.row-xs-9 {
	height: 400px;
}

#messagesDiv {
	height: 400px;
	/*background-color: #555555;*/
}
.messages {
	color: #ffffff !important;
	font-family: SourceCode;
	overflow: auto;
}
#namesDiv {
	color: #999999 !important;
	font-size: 15px;
	text-align: center;
	font-family: Fira;

}
#icon{
	color: #999999;
}
#unloggedDiv {
	color: #000000 !important;
	font-size: 15px;
	text-align: center;
	font-family: Fira;
}
.inputBox {
	width: 100%;
	height: 300px;
	font-size: 10px;
}

.modal {
	position: relative !important;
	margin-left: 30% !important;
	right-padding: 100px;
	margin-top: -400px !important;
	background-color: #111111;
	width: 50% !important;
}

/* trying to change the colors of name and messahes

#name {
	color: #ff3399 !important;
} */



/* Pasted from Bootstrap */
.btn-custom {
  background-color: hsl(0, 0%, 79%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
  background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
  background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
  background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
  background-image: linear-gradient(#134134134, #c9c9c9);
  border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
  -webkit-font-smoothing: antialiased;
}
